* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    --border: 1px solid green;
    box-sizing: border-box;
    /*O espacamento externo fica restrito ao conteudo do elemento (padding e margin)*/
}

.btn-fs {
    background-image: linear-gradient(to right, #FF6347, #FF0000);
}