.card {
    width: 15rem;
    text-align: center;
    color: white;
}

.wrap-carrinho {
    min-height: 50vh;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}